{% extends 'navbar.html' %}<!--<Access navbar.html to all pages  >-->
{% block content %}<!--<open container  >-->
{% load static %}<!--<load all static files  to this file  >-->
<body style="background:url('static/images/addmember.jpg');
            background-size:cover;background-attachment:fixed;
  background-position:center;">
<h1 align="center">Add Member</h1>
<link href="{% static 'css/add_member.css' %}" rel="stylesheet"><!--<access add_member.css  to this file  >-->
{% if null %}
    <p>please enter income</p>
{% endif %}
<form action="addingmember" method="post">
     {%csrf_token %}
     <table align="center">
         <tr>
             <td>
                 <input class="form-control form-control-lg" type="text" placeholder="First Name" name="firstname"><!--< Boot strap class >-->
             </td>
         </tr>
         <tr>
             <td>
                 <input class="form-control form-control-lg" type="text" placeholder="Last name" name="lastname"><!--< Boot strap class >-->
             </td>
         </tr>
         <tr>
             <td>
                 <input class="form-control form-control-lg" type="number" placeholder="Income" name="income"><!--< Boot strap class >-->
             </td>
         </tr>
         <tr>
             <td>
                  <input type="submit" value="Add To Family Members" class="btn btn-primary btn-lg btn-block"><!--< Boot strap class >-->
             </td>
         </tr>
     </table>
</form>
</body>
{% endblock%}<!--<close container  >-->